/* RESET STYLES -------------------- */

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
}

/* BASE STYLES -------------------- */

::-webkit-scrollbar {
  display: none;
}

#root,
html {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeLegibility;
  background: #e8e7e7;
  width: 100%;
  height: 100%;
}

/* ELEMENT STYLES -------------------- */

/* Header */
header {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063fa;
  border-bottom: solid 2px #d4caff;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

.scoreboard {
  background: #fff;
  width: 700px;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Stats */
.stats,
.stopwatch,
.counter {
  flex-basis: 180px;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 0.8em;
}

.stats td:last-child {
  text-align: left;
}

/* Stopwatch */
.stopwatch {
  padding: 16px;
  background: #5b45b9;
}

.stopwatch-time {
  display: block;
  font-family: monospace;
  font-size: 2.2em;
}

.stopwatch button {
  margin: 8px 5px;
  background-color: #44338d;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
}

.stopwatch button:hover {
  background: #fff;
  color: #44338d;
  cursor: pointer;
}

.stopwatch-heading {
  font-size: 0.8em;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
}

/* Player Form */
form {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #8063fa;
}

input[type='text'] {
  flex-grow: 1;
  border-width: 0 0 1px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #5b45b9;
  border-style: none;
  text-shadow: none;
  text-transform: uppercase;
  color: #c7bcf8;
  letter-spacing: 2px;
  outline: none;
  margin-right: 24px;
}

input[type='text']::-webkit-input-placeholder {
  color: #c7bcf8;
  letter-spacing: 2px;
}

input[type='text']:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
  display: block;
  font-size: 0.6em;
  padding: 10px;
  background-color: #44338d;
  border-radius: 5px;
  border: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  cursor: pointer;
}

button,
input[type='submit'] {
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Counter */
.counter {
  display: flex;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #b0aeba;
  background-color: #dcdcdc;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.counter-action:hover {
  color: #fff;
}
.counter-increment:hover {
  background: #83d97c;
}
.counter-decrement:hover {
  background: #ef5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}

/* Player */
.player {
  display: flex;
  font-size: 1.2em;
  border-bottom: solid 2px #eeeeee;
  letter-spacing: 2px;
}

.player:last-of-type {
  border-bottom-color: #d4caff;
}
.player-name:hover .remove-player {
  visibility: visible;
}
.player-name,
.counter-score {
  color: #2f2366;
}

.player-name {
  flex-grow: 1;
  line-height: 3.5em;
  padding-left: 10px;
}

.remove-player {
  font-size: 1.15em;
  border: none;
  outline: none;
  visibility: hidden;
  color: #ef5350;
  cursor: pointer;
  margin: 0 10px 0 0;
  padding: 0;
  background: none;
}

/* Icon */
svg {
  width: 28px;
  height: 19px;
  margin-right: 5px;
}

.svg-inactive {
  fill: #f0f0f0;
}

.svg-active {
  animation: grow 0.35s ease-in-out;
  transform-origin: 50% 50%;
  fill: #ffc657;
}

@keyframes grow {
  50% {
    transform: scale(1.4) rotate(-3deg);
  }
}
